# muestra las ventas realizadas en washington donde el codigo postal termine en 52

In [ ]:
SELECT *
FROM  SalesLT.Address 
WHERE StateProvince LIKE '%Washington%'
AND PostalCode LIKE '%52';




# unificar producto y  nombre y ver solo articulos con un precio entre 0 y 1993

In [ ]:
SELECT CONCAT(ProductID,'_', Name) AS NOMBRE, ListPrice 
FROM SalesLT.Product
WHERE ListPrice BETWEEN '0' AND '1999'
ORDER BY ListPrice;


# El nombre, el apellido y el email de los clientes que hayan comprado entre enero y junio de 2006

In [ ]:

SELECT FirstName, LastName, EmailAddress
FROM SalesLT.Customer
Where ModifiedDate BETWEEN '2006-01-01' AND '2006-05-31';

# Muestra el email y el telefono de los clientes que hayan comprado en sharp bikes

In [ ]:
SELECT EmailAddress, Phone
FROM SalesLT.Customer
Where CompanyName LIKE ('%Sharp Bikes%');


# saber la ciudad de los clientes Y EL NOMBRE

SELECT C.FirstName , A.City
FROM SalesLT.Customer C
JOIN SalesLT.CustomerAddress CA ON CA.CustomerID= C.CustomerID
JOIN SalesLT.Address A ON CA.AddressID= A.AddressID